<!DOCTYPE html>
<html>
    <head>
        <title>Mech Turk Task #2</title>
    </head>
    <body>
        <table>
        	{% for row in photo_urls %}
        		<tr>
        			{% for image_url in row %}
        			<td><img src={{image_url}} height="100" width="100"></td>
        			{% endfor %}
        		</tr>
        	{% endfor %}
        </table>
        <br>
        <form>
	        <p>1. Is there an emergency event occuring in these photos?</p>
	        <input type="radio" name="answer" value="yes">Yes
			<input type="radio" name="answer" value="no">No<br><br>
			<p>2. If yes. What type of emergency is it?</p>
            <select name="emergency_types">
                <option value="not" selected>Not an emergency</option>
                <option value="fire">Fire</option>
                <option value="hurricane">Hurricane</option>
                <option value="murder">Murder</option>
                <option value="theft">Grand Theft</option>
            </select> <br><br>
            <input type="submit" value="Submit">
     	  </form>
    </body>
</html>
